body {
	background-color:#EEE;
	margin: 0px;	/* 0px is to say none*/
	padding: 0px;	/* without 0px means default*/
	font-family: "Gowun Batang", serif;
  	font-weight: 400;
  	font-style: normal;
}



/*Grouping example*/
header, nav, main, footer{
	padding: 22px;
}
h1, h2, h3, h4, h5 {
	margin: 0px;
}

#wrapper {
	/*background-color: #BBB;*/
	width: 80%;
	margin: 0px auto;	/*centering wrapper box*/
	padding: 40px;

nav {
	/*background-color: #FFF;*/
	padding: 40px;
	text-align: center;
	font-weight: 500;
}

nav a {
	color:#000;
	text-decoration: none;
	margin: 10px;
	/*background-color: #CCC;*/
	padding: 10px;
	border: solid 4px #000;
}

nav a:hover {
	color:#FFF;
	background-color: #000;

	/*border-width: 6px;*/
}


main {
	padding: 22px;
}

/*(article.intro img {

}*/

article.intro img.regular {
	border: solid 10 px #000;
	background-color: #000;
	padding: 10px;
	margin: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	/*filter: grayscale(100%);*/
}

article.intro img.bandw {
	border: solid 10px #F00;
	background-color: #0F0;
	padding: 10px;
	margin: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	filter: grayscale(100%);
}

article.intro img.invert {
	border: solid 10px #FFF;
	background-color: #000;
	padding: 10px;
	margin: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	filter: invert(100%);
}

article.intro img.sepia {
	border: solid 10px #000;
	background-color: #FFF;
	padding: 10px;
	margin: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	filter: hue-rotate(90deg);
}

/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
filter: grayscale(100%);
*/

article.intro img.introThumb:hover {
	background-color: #f00;
	width: 80%;
}

article.intro img:hover {
	width: 60%;
}