/* START border-box fix */
html {
  box-sizing: border-box;
}
,:before, :after {
  box-sizing: inherit;
}
/* END border-box fix */

body {
    padding: 0;
    margin: 0;
    display: flex; /*set max width of .container but display body as flex and center it's contents*/
    justify-content: center; /*this centers the contents of the body like .container*/
}

h1, h2, h3, h4, h5 {
 text-transform: uppercase;
}

.container > {
  padding: 20px;
}

/*FLEX CONTAINER*/
.container {
    display: flex; /*use flex box*/
    flex-wrap: wrap; /*allows wrapping of flex items*/
    max-width: 1000px;
}

/*FLEX ITEMS*/
header {
    background: skyblue;
    flex: 1 0 100%; /*grow on, shrink off, basis width of browser*/
    order: 1; /*display order regardless of html*/
}

main {
    background: slategray;
    flex: 1 1 500px;
    /* allow to grow and shrink with remaining space of total 900px, when container is larger than 900, extra space is distributed evenly, when smaller, items will wrap to next line in order to maintain the basis */
    order: 3;
}

nav {
    background: cadetblue;
    flex: 1 0 200px; /*grow but do not shrink less than basis*/
    order: 2;
}

aside {
    background: seagreen;
    flex: 1 0 200px; /*grow but do not shrink less than basis*/
    order: 4;
}

footer {
    background: darkslateblue;
    flex: 1 0 100%; /*grow on, shrink off, basis width of browser*/
    order: 5;
}